<div class="blog blog-grey">
    <h2 class="top-h2">{{ 'blog.title'|trans }}</h2>
    <div class="tabs container clear">
        <div class="aside">
            <ul>
                {% for post in latestPosts %}
                <li><a href="{{ post.link }}">{{ post.title | raw }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="all-tabs">
            <div class="tab1">
                <a href="{{ latestPosts.0.link }}"><h3>{{ latestPosts.0.title | raw }}</h3></a>
                <div class="date">{{ latestPosts.0.date }}</div>
                <p>
                    {{ latestPosts.0.text | raw }}
                </p>
                <a class="btn" href="{{ latestPosts.0.link }}">{{ 'blog.readmore'|trans }}</a>
            </div>
        </div>
    </div>
</div>
