{% extends 'AppDefaultBundle::layout.html.twig' %}

{% block content %}
    <!-- Кейс -->
    <div class="case">
        <div class="container">
            <a href="blog.html" class="item">
                <img src="/img/icon-symfony.png" alt="">
                Разработка на <br>Symfony2
            </a>
            <a href="blog.html" class="item">
                <img src="/img/icon-ruby.png" alt="">
                Разработка на <br>Ruby on Rails
            </a>
            <a href="blog.html" class="item">
                <img src="/img/icon-ios.png" alt="">
                Разработка <br>iOS приложений
            </a>
        </div>
    </div>

    <!-- Псевдоэлементы -->
    <div class="after-left-block"><i></i></div>
    <div class="after-right-block"><i></i></div>

    <!-- Slider -->
    <div class="slider-block" id="slides">
        <div class="slides-wrapper" id="slides-wrapper">
            <div class="slides_container">
                <div class="item" data-bg-image="img/bg-slider1.jpg">
                    <img src="/img/stashify.jpg" alt="">
                    <div class="text">
                        <h3>Stashify</h3>
                        <ul>
                            <li>Свои бандлы, либы и наработки</li>
                            <li>Сертифицированные спецы</li>
                            <li>Тестирование</li>
                            <li>Послепроектная работа</li>
                            <li>Свои бандлы, либы и наработки</li>
                            <li>Сертифицированные спецы</li>
                            <li>Тестирование</li>
                            <li>Послепроектная работа</li>
                        </ul>
                        <a class="btn" href="#">Перейти на сайт</a>
                    </div>
                </div>
                <div class="item" data-bg-image="img/bg-slider2.jpg">
                    <img src="/img/best4car.jpg" alt="">
                    <div class="text">
                        <h3>Best4car</h3>
                        <ul>
                            <li>Свои бандлы, либы и наработки</li>
                            <li>Сертифицированные спецы</li>
                            <li>Тестирование</li>
                            <li>Послепроектная работа</li>
                            <li>Свои бандлы, либы и наработки</li>
                            <li>Сертифицированные спецы</li>
                            <li>Тестирование</li>
                            <li>Послепроектная работа</li>
                        </ul>
                        <a class="btn" href="#">Перейти на сайт</a>
                    </div>
                </div>
                <div class="item" data-bg-image="img/bg-slider1.jpg">
                    <img src="/img/stashify.jpg" alt="">
                    <div class="text">
                        <h3>Stashify</h3>
                        <ul>
                            <li>Свои бандлы, либы и наработки</li>
                            <li>Сертифицированные спецы</li>
                            <li>Тестирование</li>
                            <li>Послепроектная работа</li>
                            <li>Свои бандлы, либы и наработки</li>
                            <li>Сертифицированные спецы</li>
                            <li>Тестирование</li>
                            <li>Послепроектная работа</li>
                        </ul>
                        <a class="btn" href="#">Перейти на сайт</a>
                    </div>
                </div>
                <div class="item" data-bg-image="img/bg-slider2.jpg">
                    <img src="/img/best4car.jpg" alt="">
                    <div class="text">
                        <h3>Best4car</h3>
                        <ul>
                            <li>Свои бандлы, либы и наработки</li>
                            <li>Сертифицированные спецы</li>
                            <li>Тестирование</li>
                            <li>Послепроектная работа</li>
                            <li>Свои бандлы, либы и наработки</li>
                            <li>Сертифицированные спецы</li>
                            <li>Тестирование</li>
                            <li>Послепроектная работа</li>
                        </ul>
                        <a class="btn" href="#">Перейти на сайт</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок клиенты -->
    <div class="clients clear">
        <!-- Псевдоэлементы -->
        <div class="before-left-block"><i></i></div>
        <div class="before-right-block"><i></i></div>
        <div class="container">
            <h2>Клиенты <img src="/img/clients.png" alt="" /></h2>

            <div class="review-client">
                <div class="review scrollbar">
                    <p>
                        Команда программистов Evercode легко сработалась и сдружилась с нашей командой программистов мобильных приложений. Высокий уровень и качество коммуникаций между коллективами разработчиков упростил работу по контролю ведения крупного высоконагруженного сервиса, за что наш менеджмент выражает благодарность всей команде Evercode.
                    </p>
                </div>
                <div class="client">
                    <div class="face">
                        <img src="/img/face1.jpg" alt="">
                    </div>
                    <div class="info">
                        <p class="name">Юрий Лобынцев</p>
                        <p class="prof">CEO & Founder at Oumobile</p>
                    </div>
                </div>
            </div>

            <div class="review-client">
                <div class="review" data-height='close' data-start-height=''>
                    <div class="review-text">
                        <p>
                          Не будет преувеличением сказать, что таких заботливых и отзывчивых разработчиков я еще не встречала. Готовность помочь, объяснить, что-то обновить /поправить / договориться — в разработке это, пожалуй, еще важнее, чем в любом другом рабочем процессе, ведь нам как клиентам не приходится вникать в то, что происходит за пределами наших знаний. Мы чувствуем себя очень комфортно, не испытывая страх неизвестности — очень хороший показатель качества: можно просто попросить что-то сделать и не беспокоиться об этом, потому что знаем, что все будет хорошо. Тот факт, что мне, девушке, легко и приятно работать с Evercode Lab тоже говорит о многом. Спасибо, ребята, что вы есть и что вы с нами
                       </p>
                    </div>
                    <div class="review-open"><i></i></div>
                </div>
                <div class="client">
                    <div class="face">
                        <img src="/img/face2.jpg" alt="">
                    </div>
                    <div class="info">
                        <p class="name">Ольга Нарижная</p>
                        <p class="prof">Postcardwithlove.ru</p>
                    </div>
                </div>
            </div>

            <div class="link">
                <a href="#" class="btn">Хочу стать клиентом</a>
                <a href="#" class="refresh"> <img src="/img/refresh.png" alt=""></a>
            </div>
            <!-- Блок с партнерами -->
            <div class="partners">
                <a href="http://www.reksoft.com/ru/" target="_blank"><img src="/img/reksoft.png" alt=""></a>
                <a href="http://www.kelnik.ru/" target="_blank"><img src="/img/kelnik.png" alt=""></a>
                <a href="http://www.ifmo.ru/" target="_blank"><img src="/img/itmo.png" alt=""></a>
                <a href="http://redfor.ru/" target="_blank"><img src="/img/redfor.png" alt=""></a>
                <a href="#" target="_blank"><img src="/img/univer.png" alt=""></a>
            </div>
        </div>
    </div>

    <!-- Псевдоэлементы -->
    <div class="after-left-block"><i></i></div>
    <div class="after-right-block"><i></i></div>

    <!-- Блок о нас  -->
    <div class="about">
        <div class="container clear">
            <div class="team">
                <h2>О нас</h2>
                <p>
                    Основное направление нашей деятельности — это программирование, у нас в этом есть большой опыт. Мы этакая лаборатория кода.
                </p>
                <p>
                    Мы не занимаемся дизайном макетов для сайтов. Но мы можем сделать вам красивый дизайн API вашего сервиса или приложения.
                </p>
                <p>
                    Но если вам все-таки нужны дизайнеры, которые умеют рисовать, то мы знаем много замечательных квалифицированных людей, которые с радостью вам помогут.
                </p>
                <div class="gallery">
                    <div class="item">
                        <img src="/img/roma.jpeg" alt="Рома Лапин">
                        <p>Рома Лапин</p>
                        <div class="social">
                            <a href="#" class="mail"></a>
                            <a href="#" class="github"></a>
                            <a href="#" class="twitter"></a>
                        </div>
                    </div>
                    <div class="item mr">
                        <img src="/img/petr.jpeg" alt="Петр Сергеев">
                        <p>Петр Сергеев</p>
                        <div class="social">
                            <a href="#" class="mail"></a>
                            <a href="#" class="github"></a>
                            <a href="#" class="twitter"></a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/igor.jpeg" alt="Игорь Адров">
                        <p>Игорь Адров</p>
                        <div class="social">
                            <a href="#" class="mail"></a>
                            <a href="#" class="github"></a>
                            <a href="#" class="twitter"></a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/sergey.jpeg" alt="Сергей Лунев">
                        <p>Сергей Лунев</p>
                        <div class="social">
                            <a href="#" class="mail"></a>
                            <a href="#" class="github"></a>
                            <a href="#" class="twitter"></a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/ilya.jpeg" alt="Илья Гордиенко">
                        <p>Илья Гордиенко</p>
                        <div class="social">
                            <a href="#" target="_blank" class="mail"></a>
                            <a href="#" target="_blank" class="github"></a>
                            <a href="#" target="_blank" class="twitter"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mission">
                <h3>Evercodelab<br/> <span>миссия</span></h3>
                <p>Мы работаем для того, чтобы воплощать идеи наших клиентов в качественные продукты и сервисы.</p>
                <p>
                    Изучаем и используем современные технологии, чтобы наши продукты отвечали высоким требованиям качества. Стремимся узнавать новое и делиться этими знаниями. Совершенствуем процессы, чтобы делать нашу работу эффективнее.<br/> Мы вносим свой вклад в создание современной культуры разработки и формирование профессиональной среды. Нам действительно не все равно.
                </p>
                <p>
                    Мы создаем свои инструменты, продукты и сервисы, которые решают реальные проблемы и делают жизнь людей проще, удобнее, понятнее, лучше и приятнее.
                </p>
                <p>Для нас это — творчество, выражение себя и в то же время образ жизни.</p>
                <a href="#" class="icon"><img src="/img/icon-lines.png" alt=""></a>
            </div>
        </div>
    </div>


    <!-- Псевдоэлементы -->
    <div class="before-left-block"><i></i></div>
    <div class="before-right-block"><i></i></div>

    <!-- Блог -->
    <div class="blog blog-grey">
        <h2 class="top-h2">Блог</h2>
        <div class="tabs container clear">
            <div class="aside">
                <ul>
                    <li data-content="tab1" class="active"><a href="#">Конференция «Как мы<br/> делаем такие сайты»</a></li>
                    <li data-content="tab2"><a href="#">Последний оплот<br/> человечества или скрипты<br/> для Hipchat</a></li>
                    <li data-content="tab3"><a href="#">Тесты с Rutester</a></li>
                    <li data-content="tab4"><a href="#">Расскажем о Symfony2 на<br/> DrupalCamp СНГ</a></li>
                    <li data-content="tab5"><a href="#">Отправляйте открытки<br/> с любовью</a></li>
                </ul>
            </div>
            <div class="all-tabs">
                <div class="tab1">
                    <a href="#"><h3>Конференция «Как мы делаем такие сайты»</h3></a>
                    <div class="date">OCT 17TH, 2013</div>
                    <p>
                        Мы в Evercode Lab любим участвовать в разного рода конференция по интересным нам направлениям и даже проводим свои мероприятия. При этом очень стараемся поддерживать хорошие начинания и сотрудничать с организаторами. Так вышло и с <a href="#">конференцией от CMSMagazine</a>.
                    </p>
                    <img src="http://blog.evercodelab.com/assets/images/such_sites_cmsmagazine.jpg" alt="">
                    <p>
                        Конференция «Как мы делаем такие сайты» – это четыре потока докладов об актуальных проблемах создания и развития серьёзных интернет-проектов и мобильных приложений. Хотите узнать про особенности создания больших интернет-магазинов, государственных и банковских сайтов? Приходите на конференцию или смотрите онлайн!
                    </p>
                    <a class="btn" href="#">Читать далее</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Псевдоэлементы -->
    <div class="after-left-block"><i></i></div>
    <div class="after-right-block"><i></i></div>

    <!-- Форма для заполнения -->
    <div class="feedback container">
            <form action="">
            <h2>Задайте вопрос</h2>
                <div>
                    <label for="name">Представьтесь</label>
                    <input type="text" id="name">
                </div>
                <div>
                    <label for="mail">Ваш email на который мы ответим</label>
                    <input type="text" id="mail">
                </div>
                <div>
                    <label for="quest">Вопрос</label>
                    <textarea name="" id="quest" cols="30" rows="10"></textarea>
                </div>
                <button class="btn" type="submit">Отправить</button>
            </form>
        <div class="questions">
            <h2>Что еще?</h2>
            <ul>
                <li><a href="#">Обучение</a></li>
                <li><a href="#">Evercode Talks</a></li>
                <li><a href="#">Как мы работаем</a></li>
                <li><a href="#">Выступления на конференциях</a></li>
            </ul>
        </div>
    </div>

    <!-- Псевдоэлемент -->
    <div class="before-left-block"><i></i></div>
    <div class="before-right-block"><i></i></div>


<!-- <body>
<div class="container">
<div class="b-shattered"></div>
<div class="b-head">
    <header>
        <div class="topLine"></div>
        <div class="wrapper">
            <div class="topLine topLineMove" id="topLineMove"></div>
            <ul class="social">
                <li><a href="https://github.com/EvercodeLab"><i class=""></i></a></li>
                <li><a href="http://twitter.com/evercodelab"><i class="twitter"></i></a></li>
                <li><a href="https://www.facebook.com/pages/Evercode-Lab/128121020625049"><i class="fb"></i></a></li>
                <li><a href="http://feeds.feedburner.com/EvercodeBlog"><i class="rss"></i></a></li>
            </ul>
            <menu>
                <li><a href="#">{{ 'menu.welcome'|trans }}</a></li>
                <li><a href="#aboutus">{{ 'menu.aboutus'|trans }}</a></li>
                <li><a href="#services">{{ 'menu.services'|trans }}</a></li>
                <li><a href="#clients">{{ 'menu.clients'|trans }}</a></li>
                <li><a href="#portfolio">{{ 'menu.portfolio'|trans }}</a></li>
                <li><a href="#contacts">{{ 'menu.contacts'|trans }}</a></li>
                <li><a href="#blog">{{ 'menu.blog'|trans }}</a></li>
            </menu>
        </div>
    </header>
    <div class="wrapper">
        {% if app.request.get('_locale') == 'en' %}
        <a href="{{ path('index', {'_locale': 'ru'}) }}" class="eng">Русский</a>
        {% else %}
        <a href="{{ path('index', {'_locale': 'en'}) }}" class="eng">English</a>
        {% endif %}
    </div>
</div>
<div class="b-about" id="aboutus">
    <div class="wrapper">
        <div class="cols">
            <div class="l-col">
                <img src="{{ asset("i/logo.png") }}" alt="Green Coding Godzilla Bird" />
            </div>
            <div class="r-col">
                <h1>{{ 'aboutus.header'|trans|raw }}</h1>
                <p>{{ 'aboutus.first'|trans|raw }}</p>
                <p>{{ 'aboutus.second'|trans }}</p>
                <p>{{ 'aboutus.third'|trans }}</p>
            </div>
        </div>
        <div class="cols">
            <div class="l-col">
                <address class="phone">+7 (921) 426-34-22</address>
            </div>
            <div class="r-col">
                <div class="b-switcher-block">
                    <ul class="b-temi-list" id='temi-list'>
                        <li class="item first" id="about-team-switch"><span>{{ 'team'|trans }}</span></li>
                        <li class="item second" id="about-mission-switch"><span>{{ 'mission'|trans }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
                <div class="b-team-block hidden" id="team-block">
            <ul class="b-team-list">
                {% for member in team %}
                <li class="person">
                    <div class="photo-box">
                        <img src="{{ vich_uploader_asset(member, 'file') | apply_filter('team_photo_thumb') }}" alt="{{ member.name }}"/>
                    </div>
                    <div class="name">{{ member.name }}</div>
                    <div class="b-social">
                        <ul class="social-list">
                            <li class="item"><a href="mailto:{{ member.email }}"><img class="mail" src="{{ asset('i/empty.png') }}"/></a></li>
                            <li class="item"><a href="https://twitter.com/{{ member.twitter }}"><img class="twitter" src="{{ asset('i/empty.png') }}"/></a></li>
                            <li class="item"><a href="https://github.com/{{ member.github }}"><img class="github" src="{{ asset('i/empty.png') }}"/></a></li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="b-mission-block hidden" id="mission-block">
            <div class="cols">
                <div class="l-col"></div>
                <div class="r-col">
                    <p>Мы работаем для того, чтобы воплощать идеи наших клиентов в качественные продукты и сервисы.</p>

                    <p>Изучаем и используем современные технологии, чтобы наши продукты отвечали высоким
                       требованиям качества. Стремимся узнавать новое и делиться этими знаниями. Совершенствуем
                       процессы, чтобы делать нашу работу эффективнее.</p>

                    <p>Мы вносим свой вклад в создание современной культуры разработки и формирование
                       профессиональной среды. Нам действительно не все равно.</p>

                    <p>Мы создаем свои инструменты, продукты и сервисы, которые решают реальные проблемы
                       и делают жизнь людей проще, удобнее, понятнее, лучше и приятнее.</p>

                    <p>Для нас это — творчество, выражение себя и в то же время образ жизни.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-services" id="services">
    <div class="wrapper">
        <div class="cols">
            <div class="l-col">
                <img src="{{ asset("i/guys.png") }}" alt="Два непонятных тела" />
            </div>
            <div class="r-col">
                <h2>{{ 'services.header'|trans }}</h2>
                <div class="b-service-block cols">
                    <div class="l-col">
                        <div class="b-service-list b-development">
                            <div class="b-service-head">
                                {{ 'services.development.title'|trans }}
                            </div>
                            <ul class="b-service-list">
                                <li>{{ 'services.development.services'|trans }}</li>
                                <li>{{ 'services.development.apps'|trans }}</li>
                                <li>{{ 'services.development.api'|trans }}</li>
                                <li>{{ 'services.development.proto'|trans }}</li>
                                <li>{{ 'services.development.support'|trans }}</li>
                            </ul>
                        </div>
                        <div class="b-service-list b-consulting">
                            <div class="b-service-head">
                                {{ 'services.consulting.title'|trans }}
                            </div>
                            <ul class="b-service-list">
                                <li>{{ 'services.consulting.designing'|trans }}</li>
                                <li>{{ 'services.consulting.analysis'|trans }}</li>
                                <li>{{ 'services.consulting.process'|trans }}</li>
                                <li>{{ 'services.consulting.management'|trans }}</li>
                                <li>{{ 'services.consulting.structuring'|trans }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="l-col">
                        <div class="b-service-list b-technologies">
                            <div class="b-service-head">
                                {{ 'services.technology.title'|trans }}
                            </div>
                            <ul class="b-service-list">
                                <li><b>{{ 'services.technology.vcs'|trans }}:</b> Git, Mercurial</li>
                                <li><b>{{ 'services.technology.langs'|trans }}:</b> PHP, Ruby, Python</li>
                                <li><b>{{ 'services.technology.db'|trans }}:</b> MySQL/PostgreSQL, Mongo DB</li>
                                <li>
                                    <b>{{ 'services.technology.frameworks'|trans }}:</b>
                                    PHP: Symfony2, Silex, Zend Framework, Yii<br />
                                    Ruby: Ruby on Rails<br />
                                    Python: Django, Google App Engine
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="b-switcher"></ul>

                <div class="b-masterclass-title">
                    <a class="title" href="{{ path('php_master_class') }}">{{ 'master_class'|trans }}</a>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="b-clients" id="clients">
    <div class="wrapper cols">
        <div class="r-col">
            <h2>{{ 'clients.header'|trans }}</h2>
        </div>
        {% if clients %}
        <ul class="b-clients-list">
            {% for client in clients %}
            <li>
                <a href="{{ client.link }}"><img src="{{ vich_uploader_asset(client, 'file') }}" alt="{{ client.name }}" /></a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<div class="b-portfolio" id="portfolio">
    <div class="wrapper cols">
        <div class="r-col">
            <h2>{{ 'portfolio.header'|trans }}</h2>
        </div>
    </div>
    <div class="wrapper cols">
        <div class="l-col"></div>
        <div class="r-col">
            <div class="b-switcher-block">
                <ul class="b-switcher"></ul>
                <div class="b-portfolio-text b-switch">
                    <ul>
                        {% for project in projects %}
                        <li>
                            <div class="b-portfolio-link">
                                {% if project.link %}
                                    <a href="{{ project.link }}">{{ project.name }}</a>
                                {% else %}
                                    {{ project.name }}
                                {% endif %}
                            </div>
                            {{ project.description | raw }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <ul class="b-slider">
                <li class="prev disabled"></li>
                <li class="next"></li>
            </ul>
        </div>
    </div>
</div>
<div class="b-contacts" id="contacts">
    <div class="wrapper cols">
        <div class="l-col">
            <br><br>
            <p>{{ 'while'|trans }}</p>
        </div>
        <div class="r-col">
            <h2>{{ 'contacts.header'|trans }}</h2>
            <div class="cols">
                <div class="l-col">
                    <ul class="b-contacts-list">
                        <li><a href="mailto:hello@evercodelab.com" class="item">hello@evercodelab.com</a></li>
                        <li>
                            <div class="b-contacts-blog">
                                <a href="http://twitter.com/evercodelab" class="item">@evercodelab</a>
                                {{ render_esi(controller("KnpLastTweetsBundle:Twitter:lastTweets", {'username': 'evercodelab', 'limit': 4, 'age': 12*60*60})) }}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="r-col">
                    <br><br><br>
                    <img src="{{ asset("i/veider.png") }}" alt="I've been wating for you" />
                </div>
            </div>
        </div>
    </div>
</div>
{{ render_esi(controller("AppDefaultBundle:Default:blog", {'_locale': app.request.get('_locale')} )) }}
</div> -->
{% endblock %}
