<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name='yandex-verification' content='609f107a156157ec' />
    <meta name="google-site-verification" content="IOomL4TBfTjjsuUqlcEkKH_YWCniNPOKNw0BpIW1WvI" />
    <meta name="KEYWORDS" content="{{ 'site.keywords'|trans }}" />
    <meta name="DESCRIPTION" content="{{ 'site.description'|trans }}" />
    <title>{{ 'site.title'|trans }}</title>
    {% stylesheets
        'css/main.css'
        output='compiled/compiled.css'
        filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <!--[if IE 8]>
    <link rel='stylesheet' type='text/css' href="/css/ie8.css"/>
    <![endif]-->
    <!--[if IE 9]>
    <link rel='stylesheet' type='text/css' href="/css/ie9.css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% javascripts
        'js/jquery.js'
        'js/main.js'
        output='compiled/compiled.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />


</head>

<body>
<div class="container">
<div class="b-shattered"></div>
<div class="b-head">
    <header>
        <div class="topLine"></div>
        <div class="wrapper">
            <div class="topLine topLineMove" id="topLineMove"></div>
            <ul class="social">
                <li><a href="https://github.com/EvercodeLab"><i class=""></i></a></li>
                <li><a href="http://twitter.com/evercodelab"><i class="twitter"></i></a></li>
                {#<li><a href="#"><i class="fb"></i></a></li>#}
                <li><a href="http://feeds.feedburner.com/EvercodeBlog"><i class="rss"></i></a></li>
            </ul>
            <menu>
                <li><a href="#">{{ 'menu.welcome'|trans }}</a></li>
                <li><a href="#aboutus">{{ 'menu.aboutus'|trans }}</a></li>
                <li><a href="#services">{{ 'menu.services'|trans }}</a></li>
                <li><a href="#clients">{{ 'menu.clients'|trans }}</a></li>
                <li><a href="#portfolio">{{ 'menu.portfolio'|trans }}</a></li>
                <li><a href="#contacts">{{ 'menu.contacts'|trans }}</a></li>
                <li><a href="#blog">{{ 'menu.blog'|trans }}</a></li>
            </menu>
        </div>
    </header>
    <div class="wrapper">
        {% if app.request.get('_locale') == 'en' %}
        <a href="{{ path('index', {'_locale': 'ru'}) }}" class="eng">Русский</a>
        {% else %}
        <a href="{{ path('index', {'_locale': 'en'}) }}" class="eng">English</a>
        {% endif %}
    </div>
</div>
<div class="b-about" id="aboutus">
    <div class="wrapper">
        <div class="cols">
            <div class="l-col">
                <img src="{{ asset("i/logo.png") }}" alt="Green Coding Godzilla Bird" />
            </div>
            <div class="r-col">
                <h1>{{ 'aboutus.header'|trans|raw }}</h1>
                <p>{{ 'aboutus.first'|trans|raw }}</p>
                <p>{{ 'aboutus.second'|trans }}</p>
                <p>{{ 'aboutus.third'|trans }}</p>
            </div>
        </div>
        <div class="cols">
            <div class="l-col">
                <address class="phone">(+7921) 426-34-22</address>
            </div>
            <div class="r-col">
                <div class="b-switcher-block">
                    {#<ul class="b-switcher">#}
                        {#<li rel="b-about-team" class="b-switcher-team">Команда</li>#}
                        {#<li rel="b-about-mission" class="b-switcher-mission">Миссия</li>#}
                    {#</ul>#}
                    {#<div class="b-about-team b-switch">team</div>#}
                    {#<div class="b-about-mission b-switch">mission</div>#}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-services" id="services">
    <div class="wrapper">
        <div class="cols">
            <div class="l-col">
                <img src="{{ asset("i/guys.png") }}" alt="Два непонятных тела" />
            </div>
            <div class="r-col">
                <h2>{{ 'services.header'|trans }}</h2>
                <div class="b-service-block cols">
                    <div class="l-col">
                        <div class="b-service-list b-development">
                            <div class="b-service-head">
                                {{ 'services.development.title'|trans }}
                            </div>
                            <ul class="b-service-list">
                                <li>{{ 'services.development.services'|trans }}</li>
                                <li>{{ 'services.development.apps'|trans }}</li>
                                <li>{{ 'services.development.api'|trans }}</li>
                                <li>{{ 'services.development.proto'|trans }}</li>
                                <li>{{ 'services.development.support'|trans }}</li>
                            </ul>
                        </div>
                        <div class="b-service-list b-consulting">
                            <div class="b-service-head">
                                {{ 'services.consulting.title'|trans }}
                            </div>
                            <ul class="b-service-list">
                                <li>{{ 'services.consulting.designing'|trans }}</li>
                                <li>{{ 'services.consulting.analysis'|trans }}</li>
                                <li>{{ 'services.consulting.process'|trans }}</li>
                                <li>{{ 'services.consulting.management'|trans }}</li>
                                <li>{{ 'services.consulting.structuring'|trans }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="l-col">
                        <div class="b-service-list b-technologies">
                            <div class="b-service-head">
                                {{ 'services.technology.title'|trans }}
                            </div>
                            <ul class="b-service-list">
                                <li><b>{{ 'services.technology.vcs'|trans }}:</b> Git, Mercurial</li>
                                <li><b>{{ 'services.technology.langs'|trans }}:</b> PHP, Ruby, Python</li>
                                <li><b>{{ 'services.technology.db'|trans }}:</b> MySQL/PostgreSQL, Mongo DB</li>
                                <li>
                                    <b>{{ 'services.technology.frameworks'|trans }}:</b>
                                    PHP: Symfony2, Silex, Zend Framework, Yii<br />
                                    Ruby: Ruby on Rails<br />
                                    Python: Django, Google App Engine
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="b-switcher">
                    {#<li><a href="#">Подробнее</a></li>#}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="b-clients" id="clients">
    <div class="wrapper cols">
        <div class="r-col">
            <h2>{{ 'clients.header'|trans }}</h2>
        </div>
        {% if clients %}
        <ul class="b-clients-list">
            {% for client in clients %}
            <li>
                <a href="{{ client.link }}"><img src="/{{ client.webPath }}" alt="{{ client.name }}" /></a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<div class="b-portfolio" id="portfolio">
    <div class="wrapper cols">
        <div class="r-col">
            <h2>{{ 'portfolio.header'|trans }}</h2>
        </div>
    </div>
    <div class="wrapper cols">
        <div class="l-col">
            {#<ul class="tag-clouds">#}
                {#<li class="active"><a href="#">Все</a></li>#}
                {#<li><a href="#">Собственные проекты</a></li>#}
                {#<li><a href="#">Проекты на заказ</a></li>#}
                {#<li><a href="#">В разработке</a></li>#}
                {#<li><a href="#">Аудит</a></li>#}
                {#<li><a href="#">Программирование</a></li>#}
                {#<li><a href="#">Консалтинг</a></li>#}
                {#<li><a href="#">Open source</a></li>#}
            {#</ul>#}
        </div>
        <div class="r-col">
            <div class="b-switcher-block">
                <ul class="b-switcher">
                    {#<li rel="b-portfolio-pictures" class="b-switcher-pictures"><i></i>Картинками</li>#}
                    {#<li rel="b-portfolio-text" class="b-switcher-text active"><i></i>Текстом</li>#}
                </ul>
                {#<div class="b-portfolio-pictures b-switch">#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="#"><img src="i/portfolio.png" alt="" /></a>#}
                            {#<div class="b-portfolio-link"><a href="#">http://itop-portal.net</a></div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
                <div class="b-portfolio-text b-switch">
                    <ul>
                        {% for project in projects %}
                        <li>
                            <div class="b-portfolio-link"><a href="{{ project.link }}">{{ project.name }}</a></div>
                            {{ project.description | raw }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <ul class="b-slider">
                <li class="prev disabled"></li>
                <li class="next"></li>
            </ul>
        </div>
    </div>
</div>
<div class="b-contacts" id="contacts">
    <div class="wrapper cols">
        <div class="l-col">
            <img src="{{ asset("i/man.png") }}" alt="Похож на одного знакомого дизайнера" />
            <p>{{ 'while'|trans }}</p>
            {#<p>Кстати - весь ноябрь у нас скидка усатым. Голощекие, не расстраивайтесь, вот вам купон!</p>#}
            {#<img src="i/whisker.png" alt="" />#}
        </div>
        <div class="r-col">
            <h2>{{ 'contacts.header'|trans }}</h2>
            <div class="cols">
                <div class="l-col">
                    <ul class="b-contacts-list">
                        <li><a href="mailto:hello@evercodelab.com" class="item">hello@evercodelab.com</a></li>
                        <li><a href="callto://evercodelab" class="item">skype:evercodelab</a></li>
                        <li>
                            <div class="b-contacts-blog">
                                <a href="http://twitter.com/evercodelab" class="item">@evercodelab</a>
                                {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'evercodelab', 'limit': 3, 'age': 12*60*60}, {'standalone': true} %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="r-col">
                    <form action="" method="post" {{ form_enctype(form) }} class="b-form-callback">
                        <fieldset>
                            <label>
                                {{ 'contacts.form.name'|trans }}
                                {{ form_widget(form.name) }}
                            </label>
                        </fieldset>
                        <fieldset>
                            <label>
                                {{ 'contacts.form.contact'|trans }}
                                {{ form_widget(form.contact) }}
                            </label>
                        </fieldset>
                        <fieldset>
                            <label>
                                {{ 'contacts.form.content'|trans }}
                                {{ form_widget(form.content) }}
                            </label>
                        </fieldset>
                        <input type="submit" value="{{ 'contacts.form.submit'|trans }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% render "AppDefaultBundle:Default:blog" with {}, {'standalone': true} %}
</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25737310-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter9872860 = new Ya.Metrika({id:9872860, enableAll: true, trackHash:true});
            }
            catch(e) { }
        });
    })(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/9872860" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
