<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name='yandex-verification' content='609f107a156157ec' />
    <meta name="google-site-verification" content="IOomL4TBfTjjsuUqlcEkKH_YWCniNPOKNw0BpIW1WvI" />
    <meta name="KEYWORDS" content="разработка сайтов, консалтинг, анализ кода, парсеры, проектирование, Zend Framework, Symfony, Python, Django" />
    <meta name="DESCRIPTION" content="Evercode Lab — команда квалифицированных разработчиков, которые помогут вам в воплощении ваших проектов и идей." />
    <title>Evercode Lab - разработка, консалтинг, стартапы</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <!--[if IE 8]>
    <link rel='stylesheet' type='text/css' href="/css/ie8.css"/>
    <![endif]-->
    <!--[if IE 9]>
    <link rel='stylesheet' type='text/css' href="/css/ie9.css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

</head>

<body>
<div class="container">
<div class="b-shattered"></div>
<div class="b-head">
    <header>
        <div class="topLine"></div>
        <div class="wrapper">
            <div class="topLine topLineMove" id="topLineMove"></div>
            <ul class="social">
                <li><a href="https://github.com/EvercodeLab"><i class=""></i></a></li>
                <li><a href="http://twitter.com/evercodelab"><i class="twitter"></i></a></li>
                {#<li><a href="#"><i class="fb"></i></a></li>#}
                <li><a href="http://feeds.feedburner.com/EvercodeBlog"><i class="rss"></i></a></li>
            </ul>
            <menu>
                <li><a href="#">Добро пожаловать</a></li>
                <li><a href="#aboutus">О нас</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#clients">Клиенты</a></li>
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="#blog">А, и еще блог</a></li>
            </menu>
        </div>
    </header>
    {#<div class="wrapper">#}
        {#<a href="#" class="eng">English</a>#}
    {#</div>#}
</div>
<div class="b-about" id="aboutus">
    <div class="wrapper">
        <div class="cols">
            <div class="l-col">
                <img src="/i/logo.png" alt="" />
            </div>
            <div class="r-col">
                <h1>Привет, клиент,<br /> мы - разработчики!</h1>
                <p>Основное направление нашей деятельности сосредоточено на разработке и программировании. Мы этакая лаборатория кода, у нас в этом есть огромный опыт (у каждого из двух основателей более 5 лет опыта работы в сфере программирования для веб). </p>
                <p>Но мы можем организовать вам и дизайн, и разработку логотипа или фирменного стиля. За несколько лет работы мы накопили достаточное количество связей, чтобы иметь возможность выполнить практически любое задание.</p>
            </div>
        </div>
        <div class="cols">
            <div class="l-col">
                <address class="phone">(+7921) 426-34-22</address>
            </div>
            <div class="r-col">
                <div class="b-switcher-block">
                    {#<ul class="b-switcher">#}
                        {#<li rel="b-about-team" class="b-switcher-team">Команда</li>#}
                        {#<li rel="b-about-mission" class="b-switcher-mission">Миссия</li>#}
                    {#</ul>#}
                    {#<div class="b-about-team b-switch">team</div>#}
                    {#<div class="b-about-mission b-switch">mission</div>#}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-services" id="services">
    <div class="wrapper">
        <div class="cols">
            <div class="l-col">
                <img src="/i/guys.png" alt="" />
            </div>
            <div class="r-col">
                <h2>Что мы умеем</h2>
                <div class="b-service-block cols">
                    <div class="l-col">
                        <div class="b-service-list b-development">
                            <div class="b-service-head">
                                Разработка
                            </div>
                            <ul class="b-service-list">
                                <li>Сервисы</li>
                                <li>Приложения</li>
                                <li>API</li>
                                <li>Прототипы</li>
                                <li>Сопровождение и поддержка</li>
                            </ul>
                        </div>
                        <div class="b-service-list b-consulting">
                            <div class="b-service-head">
                                Консалтинг
                            </div>
                            <ul class="b-service-list">
                                <li>Проектирование</li>
                                <li>Аудит проекта</li>
                                <li>Анализ кода</li>
                                <li>Организация процесса разработки</li>
                                <li>Структурирование информации</li>
                            </ul>
                        </div>
                    </div>
                    <div class="l-col">
                        <div class="b-service-list b-technologies">
                            <div class="b-service-head">
                                Технологии
                            </div>
                            <ul class="b-service-list">
                                <li><b>Системы контроля версий:</b> Git, Mercurial</li>
                                <li><b>Языки:</b> PHP, Ruby, Python</li>
                                <li><b>Базы данных:</b> MySQL/PostgreSQL, Mongo DB</li>
                                <li>
                                    <b>Фреймворки:</b>
                                    PHP: Symfony2, Silex, Zend Framework, Yii
                                    Ruby: Ruby on Rails
                                    Python: Django, Google App Engine
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="b-switcher">
                    {#<li><a href="#">Подробнее</a></li>#}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="b-clients" id="clients">
    <div class="wrapper cols">
        <div class="r-col">
            <h2>Наши клиенты</h2>
        </div>
        {% if clients %}
        <ul class="b-clients-list">
            {% for client in clients %}
            <li>
                <img src="/{{ client.webPath }}" alt="" />
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<div class="b-portfolio" id="portfolio">
    <div class="wrapper cols">
        <div class="r-col">
            <h2>Наше портфолио</h2>
        </div>
    </div>
    <div class="wrapper cols">
        <div class="l-col">
            {#<ul class="tag-clouds">#}
                {#<li class="active"><a href="#">Все</a></li>#}
                {#<li><a href="#">Собственные проекты</a></li>#}
                {#<li><a href="#">Проекты на заказ</a></li>#}
                {#<li><a href="#">В разработке</a></li>#}
                {#<li><a href="#">Аудит</a></li>#}
                {#<li><a href="#">Программирование</a></li>#}
                {#<li><a href="#">Консалтинг</a></li>#}
                {#<li><a href="#">Open source</a></li>#}
            {#</ul>#}
        </div>
        <div class="r-col">
            <div class="b-switcher-block">
                <ul class="b-switcher">
                    {#<li rel="b-portfolio-pictures" class="b-switcher-pictures"><i></i>Картинками</li>#}
                    {#<li rel="b-portfolio-text" class="b-switcher-text active"><i></i>Текстом</li>#}
                </ul>
                {#<div class="b-portfolio-pictures b-switch">#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="#"><img src="i/portfolio.png" alt="" /></a>#}
                            {#<div class="b-portfolio-link"><a href="#">http://itop-portal.net</a></div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
                <div class="b-portfolio-text b-switch">
                    <ul>
                        {% for project in projects %}
                        <li>
                            <div class="b-portfolio-link"><a href="{{ project.link }}">{{ project.name }}</a></div>
                            {{ project.description | raw }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <ul class="b-slider">
                <li class="prev disabled"></li>
                <li class="next"></li>
            </ul>
        </div>
    </div>
</div>
<div class="b-contacts" id="contacts">
    <div class="wrapper cols">
        <div class="l-col">
            <img src="/i/man.png" alt="" />
            <p>Ну а пока вы все это тут читаете, мы уже помчались делать что-то новое и очень крутое! </p>
            {#<p>Кстати - весь ноябрь у нас скидка усатым. Голощекие, не расстраивайтесь, вот вам купон!</p>#}
            {#<img src="i/whisker.png" alt="" />#}
        </div>
        <div class="r-col">
            <h2>Как с нами связаться</h2>
            <div class="cols">
                <div class="l-col">
                    <ul class="b-contacts-list">
                        <li><a href="mailto:hello@evercodelab.com">hello@evercodelab.com</a></li>
                        <li><a href="callto://evercodelab">skype:evercodelab</a></li>
                        <li>
                            <div class="b-contacts-blog">
                                <a href="http://twitter.com/evercodelab">@evercodelab</a>
                                {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'evercodelab', 'limit': 3} %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="r-col">
                    <form action="" method="post" {{ form_enctype(form) }} class="b-form-callback">
                        <fieldset>
                            <label>
                                Представьтесь, пожалуйста
                                {{ form_widget(form.name) }}
                            </label>
                        </fieldset>
                        <fieldset>
                            <label>
                                Укажите почту или контактный телефон
                                {{ form_widget(form.contact) }}
                            </label>
                        </fieldset>
                        <fieldset>
                            <label>
                                Ну, и напишите что-нибудь заодно
                                {{ form_widget(form.content) }}
                            </label>
                        </fieldset>
                        <input type="submit" value="Отправить сообщение" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-blog" id="blog">
    <div class="wrapper cols">
        <div class="r-col">
            <h2>Совсем забыли, у нас еще есть блог!</h2>
        </div>
    </div>
    <div class="wrapper cols">
        <div class="l-col">
            <ul class="b-blogs-list">
                {% for post in latestPosts %}
                <li><a href="{{ post.link }}">{{ post.title | raw }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="r-col">
            <div class="b-blog-info">
                <b>{{ latestPosts.0.title | raw }}</b>
                <span class="b-blog-date">{{ latestPosts.0.date }}  </span>
                {#<span class="b-blog-comments"><a href="#">0 Comments</a></span>#}
            </div>
            {{ latestPosts.0.text | raw }}
            <div class="more"><a href="{{ latestPosts.0.link }}">Читать дальше...</a></div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25737310-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter9872860 = new Ya.Metrika({id:9872860, enableAll: true, trackHash:true});
            }
            catch(e) { }
        });
    })(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/9872860" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
