{% extends 'AppDefaultBundle::layout.html.twig' %}

{% block title %}{{ 'site.title.main'|trans }}{% endblock %}

{% block description %}{{ 'site.description.main'|trans }}{% endblock %}

{% block content %}
    <!-- Кейс -->
    <div class="case">
        <div class="container">
            <a href="{{ path('symfony') }}" class="item">
                <img src="/img/icon-symfony.png" alt="{{ 'main.symfony'|trans|raw }}">
                {{ 'main.symfony'|trans|raw }}
            </a>
            <a href="{{ path('ror') }}" class="item">
                <img src="/img/icon-ruby.png" alt="{{ 'main.ror'|trans|raw }}">
                {{ 'main.ror'|trans|raw }}
            </a>
            <a href="#" class="item">
                <img src="/img/icon-ios.png" alt="{{ 'main.ios'|trans|raw }}">
                {{ 'main.ios'|trans|raw }}
            </a>
        </div>
    </div>

    <!-- Псевдоэлементы -->
    <div class="after-left-block"><i></i></div>
    <div class="after-right-block"><i></i></div>

    <!-- Slider -->
    {% include 'AppDefaultBundle:Default:mainSlider.html.twig' with {slides: slides} %}

    <!-- Блок клиенты -->
    <div class="clients clear">
        <!-- Псевдоэлементы -->
        <div class="before-left-block"><i></i></div>
        <div class="before-right-block"><i></i></div>
        <div class="container">
            <h2>{{ 'main.clients.title'|trans }} <img src="/img/clients.png" alt="{{ 'main.clients.title'|trans }}" /></h2>

            <div class="review-client">
                <div class="review scrollbar">
                    <p>
                        Команда программистов Evercode легко сработалась и сдружилась с нашей командой программистов мобильных приложений. Высокий уровень и качество коммуникаций между коллективами разработчиков упростил работу по контролю ведения крупного высоконагруженного сервиса, за что наш менеджмент выражает благодарность всей команде Evercode.
                    </p>
                </div>
                <div class="client">
                    <div class="face">
                        <img src="/img/clients/faces/face1.jpg" alt="">
                    </div>
                    <div class="info">
                        <p class="name">Юрий Лобынцев</p>
                        <p class="prof">CEO & Founder at Oumobile</p>
                    </div>
                </div>
            </div>

            <div class="review-client">
                <div class="review" data-height='close' data-start-height=''>
                    <div class="review-text">
                        <p>Не будет преувеличением сказать, что таких заботливых и отзывчивых разработчиков я еще не встречала :)</p>
                        <p>Готовность помочь, объяснить, что-то обновить /поправить / договориться — в разработке это, пожалуй, еще важнее, чем в любом другом рабочем процессе, ведь нам как клиентам не приходится вникать в то, что происходит за пределами наших знаний. Мы чувствуем себя очень комфортно, не испытывая страх неизвестности — очень хороший показатель качества: можно просто попросить что-то сделать и не беспокоиться об этом, потому что знаем, что все будет хорошо.</p>
                        <p>Тот факт, что мне, девушке, легко и приятно работать с Evercode Lab тоже говорит о многом. Спасибо, ребята, что вы есть и что вы с нами :)</p>
                    </div>
                    <div class="review-open"><i></i></div>
                </div>
                <div class="client">
                    <div class="face">
                        <img src="/img/clients/faces/face2.jpg" alt="">
                    </div>
                    <div class="info">
                        <p class="name">Ольга Нарижная</p>
                        <p class="prof">Postcardwithlove.ru</p>
                    </div>
                </div>
            </div>

            <!-- Блок с партнерами -->
            <div class="partners">
                <a href="http://www.reksoft.com/ru/" target="_blank"><img src="/img/clients/logo/reksoft.png" alt=""></a>
                <a href="http://www.kelnik.ru/" target="_blank"><img src="/img/clients/logo/kelnik.png" alt=""></a>
                <a href="http://www.ifmo.ru/" target="_blank"><img src="/img/clients/logo/itmo.png" alt=""></a>
                <a href="http://2nova.com/" target="_blank"><img src="/img/clients/logo/2nova.png" alt=""></a>
                <a href="http://globalpointagency.com/" target="_blank"><img src="/img/clients/logo/global_point.png" alt=""></a>
            </div>
        </div>
    </div>

    <!-- Псевдоэлементы -->
    <div class="after-left-block"><i></i></div>
    <div class="after-right-block"><i></i></div>

    <!-- Блок о нас  -->
    <div class="about">
        <div class="container clear">
            <div class="team">
                <h2>{{ 'aboutus.title'|trans }}</h2>
                <p>
                    {{ 'aboutus.first'|trans }}
                </p>
                <p>
                    {{ 'aboutus.second'|trans }}
                </p>
                <p>
                    {{ 'aboutus.third'|trans }}
                </p>
                <div class="gallery">
                    {% for member in team %}
                    <div class="item">
                        {% if member.zend %}
                            <a href="{{ member.zend }}" class="zend"><img src="{{ asset("img/zend-logo.png") }}" alt="{{ member.name }} is ZCE!"/></a>
                        {% endif %}
                        <img src="{{ vich_uploader_asset(member, 'team_photo') | apply_filter('team_photo_thumb') }}" alt="{{ member.name }}">
                        <p>{{ member.name }}</p>
                        <div class="social">
                            <a href="mailto:{{ member.email }}" class="mail"></a>
                            <a href="https://github.com/{{ member.github }}" class="github"></a>
                            {% if member.twitter %}
                            <a href="https://twitter.com/{{ member.twitter }}" class="twitter"></a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mission">
                <h3>Evercode Lab<br/> <span>{{ 'main.mission.title'|trans }}</span></h3>
                {{ 'main.mission.text'|trans|raw }}
                <img src="/img/icon-lines.png" class="icon" alt="">
            </div>
        </div>
    </div>


    <!-- Псевдоэлементы -->
    <div class="before-left-block"><i></i></div>
    <div class="before-right-block"><i></i></div>

    <!-- Блог -->
    {{ render_esi(controller("AppDefaultBundle:Default:blog", {'_locale': app.request.get('_locale')} )) }}

    <!-- Псевдоэлементы -->
    <div class="after-left-block"><i></i></div>
    <div class="after-right-block"><i></i></div>

    <!-- Форма для заполнения -->
    <div class="feedback container" id="feedback">
            <form action="{{ path('index') }}" method="post">
            <h2>{{ 'main.ask.title'|trans }}</h2>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
                <div>
                    <label for="name">{{ 'main.ask.introduce'|trans }}</label>
                    {{ form_widget(feedbackForm.name) }}
                </div>
                <div>
                    <label for="mail">{{ 'main.ask.youremail'|trans }}</label>
                    {{ form_widget(feedbackForm.contact) }}
                </div>
                <div>
                    <label for="quest">{{ 'main.ask.question'|trans }}</label>
                    {{ form_widget(feedbackForm.content) }}
                </div>
                {{ form_rest(feedbackForm) }}
                <button class="btn" type="submit">{{ 'main.ask.send'|trans }}</button>
            </form>
        <div class="questions">
            <h2>{{ 'main.whatelse.title'|trans }}</h2>
            <ul>
                <li><a href="http://thebookofknowledge.evercodelab.com/">{{ 'main.whatelse.tbok'|trans }}</a></li>
                <li><a href="http://php-guide.evercodelab.com/">PHP Guide</a></li>
                <li><a href="http://talks.evercodelab.com/">Evercode Talks</a></li>
                <li><a href="https://github.com/EvercodeLab/evercodelab-sublime-snippets">Evercode Sublime Snippets</a></li>
                <li><a href="https://github.com/EvercodeLab/symfony-skeleton">Evercode Symfony Skeleton</a></li>
                <li><a href="https://github.com/EvercodeLab/EvercodeHipchatMonologBundle">EvercodeHipchatMonologBundle</a></li>
            </ul>
        </div>
    </div>

    <!-- Псевдоэлемент -->
    <div class="before-left-block"><i></i></div>
    <div class="before-right-block"><i></i></div>
{% endblock %}

{% block map %}
    <div class="map">
        <div class="contacts-block" id="contacts-block">
            <div id="map" style="width: 100%; height: 500px;"></div>
            <script type="text/javascript">
                ymaps.ready(function () {
                    var map = new ymaps.Map("map", {
                        center: [59.923452,30.362226],
                        zoom: 14,
                        controls: ["zoomControl"]
                    });
                    map.behaviors
                            .disable(['rightMouseButtonMagnifier'])
                            .disable('scrollZoom');
                    var weAreHere = new ymaps.Placemark([59.923452,30.362226], {}, {
                        iconLayout: 'default#image',
                        iconImageHref: '/img/logo.png',
                        iconImageSize: [52, 39],
                        iconImageOffset: [-28, -45]
                    });

                    map.geoObjects.add(weAreHere); // Размещение геообъекта на карте.
                });
            </script>
        </div>
    </div>
{% endblock %}
