<div class="slider-block" id="slides">
    <div class="slides-wrapper" id="slides-wrapper">
        <div class="slides_container">
        {% for slide in slides %}
            <div class="item" data-bg-image="{{ vich_uploader_asset(slide, 'slider_bg') }}">
                <img src="{{ vich_uploader_asset(slide, 'slider') | apply_filter('slider_images') }}" alt="{{ slide.name }}">
                <div class="text">
                    <h3 style="color: {{ slide.textColor }} !important;">{{ slide.name }}</h3>
                    <div class="s-content" style="color: {{ slide.textColor }} !important;">
                        {{ slide.description|raw }}
                    </div>
                    <a class="btn" href="{{ slide.link }}">Перейти на сайт</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
