{% extends 'AppDefaultBundle::layout.html.twig' %}

{% block title %}{{ 'site.title.portfolio'|trans }}{% endblock %}

{% block description %}{{ 'site.description.portfolio'|trans }}{% endblock %}

{% block content %}
<!-- Кейс -->
        <div class="case portfolio-case">
            <div class="container">
                <h2><span></span>{{ 'portfolio.title'|trans }}</h2>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <!-- Псевдоэлементы -->
        <div class="before-left-block left-white"><i></i></div>
        <div class="before-right-block right-white"><i></i></div>

        <!-- portfolio -->
        <div class="works container portfolio-items">
            {% for project in projects %}
            <div class="work">
                {% if project.logo %}
                    <img src="{{ vich_uploader_asset(project, 'portfolio_logo') | apply_filter('portfolio_list_thumb') }}" alt="{{ project.name }}" />
                {% endif %}
                <div class="work-name-wrap">
                    <div class="work-name">
                        {{ project.name }}
                    </div>
                </div>
                {% spaceless %}
                <div class="work-hidden">
                    <div class="work-image">
                        {% if project.logo %}
                            <img src="{{ vich_uploader_asset(project, 'portfolio_logo') | apply_filter('portfolio_view_thumb') }}" alt="{{ project.name }}" />
                        {% endif %}
                    </div>
                    <div class="work-about">
                        {% if project.link %}
                        <div class="work-link">
                            <a href="{{ project.link }}">{{ project.link }}</a>
                        </div>
                        {% endif %}
                        <div class="work-about-text">{{ project.description|raw }}</div>
                        {% if project.caseLink %}
                        <div class="work-case-link">
                            {{ 'portfolio.read'|trans }} <a href="{{ project.caseLink }}">{{ 'portfolio.project_case'|trans }} {{ project.name }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endspaceless %}
            </div>
            {% endfor %}
        </div>

        <!-- Псевдоэлемент -->
        <div class="before-left-block"><i></i></div>
        <div class="before-right-block"><i></i></div>
{% endblock %}
