{% extends 'AppDefaultBundle::layout.html.twig' %}

{% block title %}{{ 'site.title.symfony'|trans }}{% endblock %}

{% block description %}{{ 'site.description.symfony'|trans }}{% endblock %}

{% block content %}
        <!-- Кейс -->
        <div class="case symfony-case">
            <div class="container">
                <h2><span></span>{{ 'development.symfony.title'|trans }}</h2>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <div class="slider-block dark-slider" id="slides">
            <div class="slides-wrapper" id="slides-wrapper">
                <div class="slides_container">
                    <div class="item" data-bg-image="/img/bg-slider1.jpg">
                        <img src="/img/projects/slider/best4car.jpg" alt="">
                        <div class="text">
                            <h3>Best4car</h3>
                            <ul>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                                <li>Свои бандлы, либы и наработки</li>
                                <li>Сертифицированные спецы</li>
                                <li>Тестирование</li>
                                <li>Послепроектная работа</li>
                            </ul>
                            <a class="btn" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="/img/bg-slider3.jpg">
                        <img src="/img/projects/slider/wakeawards.png" alt="">
                        <div class="text">
                            <h3>Russian Wake Awards 2013</h3>
                            <ul>
                                <li>Первая Всероссийская Вейк Премия 2013</li>
                                <li>Разработка на Symfony2</li>
                                <li>Простая CMS на базе SonataAdminBundle</li>
                                <li>Система голосования</li>
                                <li>Разработка в кратчайшие сроки</li>
                            </ul>
                            <a class="btn" href="http://wakeawards.ru/">Перейти на сайт</a>
                        </div>
                    </div>
                    <div class="item" data-bg-image="/img/bg-slider1.jpg">
                        <img src="/img/projects/slider/popt.jpg" alt="">
                        <div class="text">
                            <h3>Popt</h3>
                            <ul>
                                <li>Разработка на Symfony2</li>
                                <li>Рефакторинг и применеие best practices</li>
                                <li>Разработка API для мобильных приложений</li>
                                <li>Разработка веб-части сервиса</li>
                                <li>Международная команда (США, Украина)</li>
                            </ul>
                            <a class="btn" href="https://itunes.apple.com/in/app/popt/id759205934?mt=8">Перейти на сайт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Блок клиенты -->
        <div class="clients pb clear">
            <!-- Псевдоэлементы -->
            <div class="before-left-block"><i></i></div>
            <div class="before-right-block"><i></i></div>
            <div class="container">
                <h2 class="white-h2">{{ 'main.clients.title'|trans }} <img src="/img/clients.png" alt="" /></h2>
                <div class="review-client">
                    <div class="review scrollbar">
                        <p>
                            Команда программистов Evercode легко сработалась и сдружилась с нашей командой программистов мобильных приложений. Высокий уровень и качество коммуникаций между коллективами разработчиков упростил работу по контролю ведения крупного высоконагруженного сервиса, за что наш менеджмент выражает благодарность всей команде Evercode.
                        </p>
                    </div>
                    <div class="client">
                        <div class="face">
                            <img src="/img/clients/faces/face1.jpg" alt="">
                        </div>
                        <div class="info">
                            <p class="name">Юрий Лобынцев</p>
                            <p class="prof">CEO & Founder at Oumobile</p>
                        </div>
                    </div>
                </div>

                <div class="review-client">
                    <div class="review" data-height='close' data-start-height=''>
                        <div class="review-text">
                            <p>
                              Мы начали работать с Evercode Lab примерно полгода назад. Очень оперативно ребята помогли довести до ума и запустить наш проект (пришлось разбираться в чужом коде и устранять массу ошибок), после чего мы договорились о дальнейшем сотрудничестве по поддержке и развитию проекта. В процессе обсуждения и планирования работ ребята всегда стараются предложить оптимальные и с технической точки зрения и с учетом нашего бюджета решения. Роману хочется сказать отдельное спасибо за помощь и консультации не только по вопросам разработки!
                           </p>
                        </div>
                        <div class="review-open"><i></i></div>
                    </div>
                    <div class="client">
                        <div class="face">
                            <img src="/img/clients/faces/pavel.png" alt="">
                        </div>
                        <div class="info">
                            <p class="name">Саенко Павел</p>
                            <p class="prof">Технический директор best4car.ru</p>
                        </div>
                    </div>
                </div>

                <div class="link">
                    <!-- <a href="#" class="btn">Хочу стать клиентом</a> -->
                    <!-- <a href="#" class="refresh"> <img src="/img/refresh.png" alt=""></a> -->
                </div>
            </div>
        </div>

        <!-- Псевдоэлементы -->
        <div class="after-left-block"><i></i></div>
        <div class="after-right-block"><i></i></div>

        <!-- Блог -->
        <div class="blog ruby-blog clear">
            <div class="tabs container clear">
                <div class="aside">
                    <ul>
                        <li><a href="#">{{ 'development.symfony.why'|trans }}</a></li>
                        <li><a href="#">{{ 'development.symfony.why_us'|trans }}</a></li>
                        <li><a href="#">{{ 'development.symfony.type'|trans }}</a></li>
                        <li><a href="#">{{ 'development.symfony.services'|trans }}</a></li>
                    </ul>
                </div>
                <div class="all-tabs">
                    <div class="tab">
                        <h3>{{ 'development.symfony.title'|trans }}</h3>
                        <h4>{{ 'development.symfony.why'|trans }}</h4>
                        {{ 'development.symfony.why.text'|trans|raw }}
                        <h4>{{ 'development.symfony.why_us'|trans }}</h4>
                        {{ 'development.symfony.why_us.text'|trans|raw }}
                        <h4>{{ 'development.symfony.type'|trans }}</h4>
                        {{ 'development.symfony.type.text'|trans|raw }}
                        <h4>{{ 'development.symfony.services'|trans }}</h4>
                        {{ 'development.symfony.services.text'|trans|raw }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
